#index-body .container{
  height: 1000px;
  display: grid;
  grid-template-columns:repeat(12, 1fr);
  grid-template-rows:repeat(12, 1fr);
  grid-gap: 15px;
}
#todo-container{
  grid-column: 4/10;
  grid-row: 3/10;
}
.input-field{
  display: grid;
  grid-template-columns:repeat(12, 1fr);
  grid-gap: 10px;
  padding: 10px;
}
#input-button{
  grid-column: 1/3;
}
#input-text{
  grid-column: 3/-1;
}
  @media screen and (max-width: 800px){
    #todo-container{
      grid-column: 1/13;
      grid-row: 5/8;
    }
  }
/* Profile */
#profile-section{
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 95%;
}
#profile-pic{
  position: relative;
  left: 50%;
  top: 25px;
  transform: translate(-50%, 0);
  width: 100px;
  height: 150px;
}
#personuppgifter{
  position: relative;
  left: 25px;
  top: 25px;
}
  @media screen and (max-width: 800px){
    #profile-section{
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      top: 200px;
      height: 1500px;
      width: 90%;
      height: 700px;
    }
    #profile-pic{
      position: relative;
      left: 50%;
      top: 25px;
      transform: translate(-50%, 0);
      width: 200px;
      height: 300px;
    }
    #personuppgifter{
      position: relative;
      font-size: 25px;
    }
  }
