#index-body .container{
  height: 1000px;
  display: grid;
  grid-template-columns:repeat(12, 1fr);
  grid-template-rows:repeat(12, 1fr);
  grid-gap: 15px;
}
section{
  grid-column: 4/10;
  grid-row: 2/10;
}
  @media screen and (max-width: 800px){
    section{
      grid-column: 1/13;
      grid-row: 6/9;
    }
  }
/* Profile */
#profile-body section{
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%, 0);
  height: 450px;
  width: 95%;
}
#profile-pic{
  position: relative;
  left: 50%;
  top: 25px;
  transform: translate(-50%, 0);
  width: 100px;
  height: 150px;
}
#personuppgifter{
  position: relative;
  left: 25px;
  top: 25px;
}
  @media screen and (max-width: 800px){
    #profile-body section{
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      top: 200px;
      height: auto;
      width: 90%;
    }
    #profile-pic{
      position: relative;
      left: 50%;
      top: 25px;
      transform: translate(-50%, 0);
      width: 200px;
      height: 300px;
    }
    #personuppgifter{
      position: relative;
      font-size: 25px;
    }
  }
