body{
  position: relative;
  background-color: rgb(242, 242, 242);
}
.container{
  position: relative;
}
header{
  position: fixed;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 0px 6px 3px #ccc;
  top: 5px;
  text-align: center;
  width: 98.5%;
  height: 120px;
  align-self: center;
}
.header-button{
  width: 20%;
  height: 65px;
  background: none;
  border-radius: 5px;
  border-color: black;
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  margin-left: 10px;
  margin-right: 10px;
  font-size: 25px;
  font-family: "Courier";
  transition: .5s;
}
.header-button:hover{
  background-color: rgb(45, 45, 45);
  color: white;
  border: none;
}
.header-button:focus{
  background-color: black;
  color: white;
  border: none;
  outline: none;
}
nav{
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 0px 6px 3px #ccc;
  position: fixed;
  width: 23%;
  height: 700px;
  top: 145px;
}
#notepad{
  background-color: white;
  border-radius: 4px;
  border: 0px;
  box-shadow: 0px 0px 6px 3px #ccc;
  position: fixed;
  width: 23%;
  height: 700px;
  top: 145px;
  right: 8px;
  font-size: 20px;
  font-family: "Courier";
}
.nav-button{
  display: inline-block;
  background: none;
  width: 100%;
  height: 80px;
  border: none;
  border-bottom: 1px solid black;
  transition: .5s;
  font-size: 25px;
  font-family: "Courier";
}
.nav-button:hover{
  background-color: rgb(45, 45, 45);
  color: white;
  border: none;
}
.nav-button:focus{
  background-color: rgb(45, 45, 45);
  color: white;
  border: none;
  outline: none;
}
#todo-container{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}
#calender{
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 40%;
}
.todo{
  position: relative;
  height: 60px;
  background-color: white;
  margin-top: 10px ;
  margin-bottom: 10px ;
  margin-left: 5px;
  margin-right: 5px;
  box-shadow: 0px 0px 6px 3px #ccc;
  border-radius: 10px;
}
#todo-remove-button{
  position: absolute;
  width: 50px;
  height: 40px;
  right: 20px;
  top: 50%;
  transform: translate(0, -50%);
  border-width: 1px;
  border-radius: 10px;
  border-color: #1E1E1E;
  outline: none;
  font-family: "Courier";
  font-size: 20px;
}
#todo-done-button{
  position: absolute;
  width: 50px;
  height: 40px;
  right: 90px;
  top: 50%;
  transform: translate(0, -50%);
  border-width: 1px;
  border-radius: 10px;
  border-color: #1E1E1E;
  outline: none;
  font-size: 20px;
  font-family: "Courier";
}
#todo-text{
  position: absolute;
  height: auto;
  width: auto;
  top: 50%;
  left: 15px;
  transform: translate(0, -50%);
  border-width: 5px;
  border-color: black;
  font-size: 25px;
  font-family: "Courier";
}
.input-field{
  top: 50px;
  height: 60px;
  background-color: white;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 3px;
  box-shadow: 0px 0px 6px 3px #ccc;
  border-radius: 10px;
}
#input-button{
  top: 50%;
  left: 16px;
  border-radius: 10px;
  border-width: 1px;
  border-color: #1E1E1E;
  outline: none;
  font-size: 25px;
  font-family: "Courier";
}
#input-text{
  border-width: 1px;
  border-color: #1E1E1E;
  border-radius: 10px;
  outline: none;
  font-size: 25px;
  padding-left: 10px;
  font-family: "Courier";
}
.hide{
  display: none;
}
.done{
  background-color: #ccc;
  box-shadow: inset 0px 0px 10px 5px #919191;
}
  @media screen and (max-width: 1050px){
    nav{
      width: 45%;
      left: 8px;
      height: 200px;
      top: 175px;
    }
    .nav-button{
      height: 100px;
      font-size: 25px;
    }
    #notepad{
      width: 45%;
      right: 8px;
      height: 200px;
      top: 175px;
      font-size: 20px;
    }
    header{
      height: 160px;
    }
    .header-button{
      width: 20%;
      height: 70px;
      font-size: 25px;
    }
    .todo{
      height: 80px;
    }
    #todo-remove-button{
      height: 50px;
    }
    #todo-done-button{
      height: 50px;
    }
    #calender{
      top: 400px;
      width: 50%;
    }
    .input-field{
      height: 80px;
    }
    #input-button{
      font-size: 30px;
    }
    #input-text{
      font-size: 30px;
      padding-left: 10px;
    }
  }
/* Profile */
#profile-section{
  top: 150px;
  background-color: white;
  box-shadow: 0px 0px 6px 3px #ccc;
  border-radius: 4px;
  padding-bottom: 15px;
}
#profile-pic{
  background-image: url("../img/profile-pic.jpg");
  background-size: cover;
  background-position: center center;
}
#personuppgifter{
  padding-left: 15px;
  font-size: 25px;
}
